# Object file
*.o

# Ada Library Information
*.ali
.idea
gb-final-project_Сизов.xlsx
database-diagram.png
database-diagram-16_9.png
Сизов И. Отчет.docx
/i18n_GeoCSVDump_with_header_qouted_delimiter_semicolon_v0
/i18n_GeoPgSqlDump_v0
/RU
/rocid.csv (copy 3)
/additional