<p>Привет, {{name}}!</p>
<p>Напоминаем, что завтра в {{time}} состоится событие {{eventName}}!</p>
<p>Не забудьте просмотреть комментарии и уточнить все детали предстоящего мероприятия.</p>
<p>До встречи</p>



<p>Это автоматическое сообщение, отвечать нет необходимости</p>
